{% extends 'base.html' %}
{% block title %}
Profile page
{% endblock %}

{% load crispy_forms_tags %}

{% block main_container %}
        <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Confirm changes">
                <br>
                <button type="reset">Discard</button>
                <br>
        </form>
        <form>
                <button type="submit" formaction="{% url 'users:delete-page' user.id %}">Delete</button>
                <br><br>
                <a href="{% url 'common:password-change-page' %}">Change password</a>
        </form>
{% endblock %}