{% extends 'base.html' %}
{% block title %}
card List
{% endblock %}

{% load crispy_forms_tags %}

{% block main_container %}
    <h1>Card list</h1>
    <a>User: {{ request.user }}</a>
    {% for card in cards %}
    <p>
        <a href="{{ card.get_absolute_url }}" >{{ card.title }}</a>
        <a>{{ card.description|truncatewords:5 }}</a>
    </p>
    <br>
    {% endfor %}
    <form>
        <h2>{{ cards.get_create_url }}</h2>
        <button type="submit" formaction="{% url 'cards:new' %}">Add new card</button>
    </form>
{% endblock %}
